body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 70px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  color: #003366;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.heading_container h2 span {
  color: #f16422;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact {
  height: auto;
  width: 100%;
  background-color: #003366;
  display: -ms-grid;
  display: grid;
  grid-template-row: 100%;
  -ms-grid-columns: 33vw 33vw 33vw;
      grid-template-columns: 33vw 33vw 33vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .item {
  display: inline;
  color: #ffffff;
  font: 19px "calibri";
  padding: 10px 0px;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center;
}

.contact .item h4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
  margin: 0px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .item a {
  color: #ffffff;
}

/*header section*/
/* whatsapp section*/
.whatsapp {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}

.whatsapp a {
  background: #25d366;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .hero_bg_box::before {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.header_section {
  padding: 10px 0;
  background-color: #ffffff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar-brand span {
  color: #f16422;
}

.navbar-brand:hover {
  color: inherit;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 30px;
  color: #f16422;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
  margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #003366;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #f16422;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #f16422;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f16422;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  position: unset;
  background-color: green;
}

.slider_section .carousel-inner {
  height: 100%;
  width: 100%;
}

.slider_section .detail-box {
  color: #ffffff;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f16422;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f16422;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #f16422;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px auto 0 auto;
  width: 110px;
  height: 50px;
}

.slider_section .carousel_btn-box a {
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  opacity: 1;
  color: #003366;
  font-size: 14px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slider_section .carousel_btn-box a:hover {
  background-color: #003366;
  color: #ffffff;
}

.slider_section .carousel_btn-box .carousel-control-prev {
  left: 25px;
}

.slider_section .carousel_btn-box .carousel-control-next {
  right: 25px;
}

.slider_section .carousel-indicators {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  bottom: 90px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  opacity: 1;
  background-clip: unset;
  border: none;
}

.slider_section .carousel-indicators li.active {
  background-color: #f16422;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f16422;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f16422;
  margin-top: 15px;
  display: none;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #f16422;
}

.about_section .detail-box span {
  color: #003366;
  font-weight: bold;
}

.about_section .line {
  width: 100%;
  height: 5px;
  background-color: #f16422;
}

/* why us section */
.why_us_section {
  position: relative;
  color: #ffffff;
}

.why_us_section h3 {
  color: #f16422;
}

.products_services_title {
  padding-top: 20px;
}

.why_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.why_bg_box img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.why_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px auto 0 auto;
}

.box p {
  color: #000000;
}

.box .num-box {
  width: 145px;
  height: 125px;
  background-color: #f16422;
  border: 1.5px solid #003366;
  color: #000000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.box h5 {
  color: #003366;
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.box span {
  background-color: #f16422;
  font-weight: lighter;
}

.btn-box {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f16422;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f16422;
}

.btn-box a:hover {
  background-color: transparent;
  color: #f16422;
}

.nossos-servicos {
  background-color: #003366;
}

.nossos-servicos .row {
  margin: 0px;
}

.nossos-servicos h2 {
  color: #ffffff;
}

.nossos-servicos h5 {
  color: #f16422;
}

.nossos-servicos img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nossos-servicos p {
  color: #ffffff;
}

/* end why us section */
.customers_section h3 {
  color: #f16422;
}

.customers_section .box_container {
  padding-right: 40px;
  padding-left: 40px;
}

.customers_section .row {
  width: 100%;
}

.customers_section .box {
  width: 145px;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .form_container .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  border-radius: 0;
  background-color: #eeeaea;
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control::placeholder {
  color: #565554;
}

.contact_section .form_container .form-control.message-box {
  height: 95px;
}

.contact_section .form_container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .form_container .btn_box button {
  border: none;
  display: inline-block;
  padding: 12px 65px;
  background-color: #f16422;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f16422;
}

.contact_section .form_container .btn_box button:hover {
  background-color: transparent;
  color: #f16422;
}

.contact_section .img-box img {
  width: 100%;
}

.info_section {
  background-color: #003366;
  color: #ffffff;
}

.info_section h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.info_section .adress {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .adress a {
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .adress a:hover {
  color: #f16422;
}

.info_section .adress .adress-title:hover {
  color: #f16422;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #252525;
  margin: 0;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */