.hidden{
	display: none !important;
}
.canto {
  position: fixed;
  bottom: 70px;
  height: 70px;
  width: 150px;
  z-index: 100;
  right: -100px;
  opacity: 0.9;
  text-align:left;
  transition:all 0.3s ease;
}
.canto:hover{
  opacity: 1;
  right:0px;
}
.canto2 {
  position: fixed;
  bottom: 50px;
  height: 70px;
  width: 150px;
  z-index: 100;
  right: 0px;
  opacity: 0.8;
  text-align:left;
  transition:all 0.3s ease;
}
.canto2:hover{
  opacity: 1;
  right:0px;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
.particles canvas {
    position: absolute;
    top: 0;
    left: 0;
}